<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Habiliades / Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="C++" src="../../assets/c-logo-icon-28389.png" />
    <ion-card-header>
      <ion-card-title>C++</ion-card-title>
      <ion-card-subtitle>Conocimiento</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Conociminetos en C++, junto con proyectos y guias de aprendizaje.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Python" src="../../assets/icons8-python-400.png" />
    <ion-card-header>
      <ion-card-title>Python</ion-card-title>
      <ion-card-subtitle>Conocimiento</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Conociminetos en Python, junto con proyectos y guias de aprendizaje.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      alt="HTML/CSS/JS"
      src="../../assets/1499794874html5-js-css3-logo-png.png"
    />
    <ion-card-header>
      <ion-card-title>HTML/CSS/JS</ion-card-title>
      <ion-card-subtitle>Conocimiento</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Paginas Web, con diseño y funcionamiento, ademas de repositorios públicos
      con uso de frameworks como React o Angular.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Linux" src="../../assets/Linux-Symbol.png" />
    <ion-card-header>
      <ion-card-title>Linux</ion-card-title>
      <ion-card-subtitle>Conocimiento</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Manejo de Linux, instalacion de dependencias y programas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Android" src="../../assets/android.png" />
    <ion-card-header>
      <ion-card-title>Android</ion-card-title>
      <ion-card-subtitle>Conocimieinto</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Proyectos públicos con desarrollo de aplicacinoes móviles.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Java" src="../../assets/java-logo-transparent-free-png.png" />
    <ion-card-header>
      <ion-card-title>Java</ion-card-title>
      <ion-card-subtitle>Conocimieinto</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Conociminetos en Java, junto con proyectos vendidos y guias de
      aprendizaje.
    </ion-card-content>
  </ion-card>

  <h2><b>Servicios</b></h2>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item color="success">
          <ion-icon name="code-slash-sharp"></ion-icon>
          <ion-label>Código Limpio</ion-label>
        </ion-item>

        <ion-item color="tertiary">
          <ion-icon name="help-buoy-sharp"></ion-icon>
          <ion-label> Soporte Completo</ion-label>
        </ion-item>

        <ion-item color="warning">
          <ion-icon name="albums-sharp"></ion-icon>
          <ion-label> Diseño Backend</ion-label>
        </ion-item>

        <ion-item color="secondary">
          <ion-icon name="bug-sharp"></ion-icon>
          <ion-label> Testeo Completo</ion-label>
        </ion-item>

        <ion-item color="medium">
          <ion-icon name="hardware-chip-sharp"></ion-icon>
          <ion-label> Mantenimiento de Equipos</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
