<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content class="background" forceOverscroll="false">
  <ion-card>
    <ion-card-content>
      <h1>Mateo Miño</h1>
    </ion-card-content>
  </ion-card>

  <img alt="Yo" src="../../assets/profile.png" />

  <ion-card>
    <ion-card-content>
      <p>
        Me presento, soy Mateo Miño actualmente estoy cursando la carrera de
        Desarrollo de Software de la Escuela politécnica Nacional, tengo
        conocimiento tanto en C++, Java, Python, etc.. Puedes chequear mis
        habilidades en programación
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
