<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Proyectos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img alt="Base de Datos" src="../../assets/1.jpg" />
      <ion-card-title>Base de datos</ion-card-title>
      <ion-card-subtitle>Base de Datos enlazada a proyectos</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img alt="Página Web" src="../../assets/2.jpg" />
      <ion-card-title>Web Pokemon</ion-card-title>
      <ion-card-subtitle
        >Página web diseñada para realziar emparejamientos Pokemon con el uso de
        API</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img alt="Farmacia" src="../../assets/3.jpg" />
      <ion-card-title>Farcia</ion-card-title>
      <ion-card-subtitle
        >Programa hecho en Java que permite el control de inventario y de
        usuarios para una farmacia</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>

  <h2><b>Contactos</b></h2>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item color="danger">
          <ion-icon name="logo-youtube"> </ion-icon>
          <ion-label
            ><a href="https://www.youtube.com/@mateomino-vc4hl"
              >Youtube</a
            ></ion-label
          >
        </ion-item>

        <ion-item color="primary">
          <ion-icon name="logo-linkedin"></ion-icon>
          <ion-label
            ><a
              href="https://www.linkedin.com/in/mateo-mi%C3%B1o-ochoa-a27270242"
              >Linkedin</a
            ></ion-label
          >
        </ion-item>

        <ion-item color="black">
          <ion-icon name="logo-github"></ion-icon>
          <ion-label
            ><a href="https://github.com/Mino-Mateo">Github</a></ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
